.white-text{
  color: #fff;
}

.uppercase{
  text-transform: uppercase;
}

.veil{
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 24px;
  font-weight: 500;
}
.header li {
  text-underline-offset: 4px;
}
.navigation{
  margin-left: 51px;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 392px;
  list-style-type: circle;
  font-size: 18px;
}

.nav-list li:first-child {
  list-style-type: none;
}

.nav-list li:first-child a {
  text-decoration: none;
}
.logo {
  margin-right: 184px;
}
.logo img {
  width: 130px;
  height: 105px;
}

.contacts ul {
  width: 240px;
  height: 98px;
}
.contacts li {
  list-style-type: none;
}

.contacts li p {
  white-space: pre-wrap;
}

/* cover section */

.cover {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  height: 757px;

}

.main-title {
  margin: 0 50px 237px;
  padding-top: 165px;
  height: 355px;
  width: 1000px;
}

.main-title span {
  display: block;
  font-size: 100px;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

.cover-bottom {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.cover-bottom h2 {
  font-size: 22px;
  font-weight: 400;
  word-spacing: 3px;
}

.transparent-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 22px;
}

/* lots section */

.lots-title h2 {
  font-size: 40px;
  margin: 179px 64px 27px;


}
.deck-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 0 24px;
}

.deck-item {
  list-style-type: none;
}
.card {
  background-size: cover;
  width: 334px;
  height: 563px; 
}
.card-flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.film {
  background-image: url("../images/card-lot-01.jpg");
}
.book {
  background-image: url("../images/card-lot-02.jpg");
}
.painting {
  background-image: url("../images/card-lot-03.jpg");
}

.card-title {
  margin: 51px 40px 0;
  font-size: 22;
  font-weight: bold;
}
.card-text {
  margin: 0 40px 48px;
  font-size: 20px;
}

/* about */

.about {
  height: 595px;
  display: grid;
  margin: 146px 24px 0;
  grid-template-columns: 359px 100%;
  grid-template-rows: 283px 100%;
}

.logo-white {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 47px 0;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  grid-column: 1;
  grid-row: 1;
}

.img-white-logo {
  display: block;
  height: 114px;
  width: 148px;
}

.info-about {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  grid-column: 2;
  grid-row: 1/2;
  width: 693px;
}

.info-title h1 {
  margin-top: 136px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
}

.info-text p {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.info-text p:last-child {
  letter-spacing: 0.01em;
}

.info-text-smaller-spacing {
  letter-spacing: 0.0em;
}

/* footer */
.footer {
  margin: 180px 50px 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-footer {

}
.navigation-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 18px;
}

.nav-list-footer li:first-child {
  list-style-type: none;
}

.nav-list-footer li:first-child a {
  text-decoration: none;
}

.socials-link-list {
  display: flex;
  gap: 48px;
  flex-direction: row;
  list-style-type: none;
}

.socials-link-list li img {
  height: 48px;
  width: 48px;
}