.white-text{
  color: #fff;  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 24px;
  font-weight: 500;
}
.header li {
  text-underline-offset: 4px;
}
.navigation{
  margin-left: 51px;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 392px;
  list-style-type: circle;
  font-size: 18px;
}

.nav-list li:first-child {
  list-style-type: none;
}

.nav-list li:first-child a {
  text-decoration: none;
}
.logo {
  margin-right: 184px;
}
.logo img {
  width: 130px;
  height: 105px;
}

.contacts ul {
  width: 240px;
  height: 98px;
}
.contacts li {
  list-style-type: none;
}

.contacts li p {
  white-space: pre-wrap;
}





.cover {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  height: 757px;
  z-index: -2;
}
.veil{
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}
.main-title {
  margin: 0 50px 237px;
  padding-top: 165px;
  height: 355px;
  width: 1000px;

  text-transform: uppercase;
}

.main-title span {
  display: block;
  font-size: 100px;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

.cover-bottom {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.cover-bottom h2{
  font-size: 22px;
  font-weight: 400;
  word-spacing: 3px;
  text-transform: uppercase;

}

.transparent-button{
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
}